<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hmn</title>
</head>
<body>
    <h1>Login page</h1>

    <form method="post" action="/login">
        <label>Login Name:</label>
        <input type="text" name="userName" />
        <br/>
        <label>Password:</label>
        <input type="password" name="password" />
        
        <input type="hidden" name="csrf" value="{{.csrf_token}}" />
        <input type="submit" value="Login"/>
    </form>
</body>
</html>