* {
    box-sizing: border-box;
  }

.main-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: grid;
    grid-template-columns:  200px auto;
}

.navigation-bar{
    border:solid 1px black;
    overflow-x: hidden;
}

.navigation-bar  ul {
    margin: 0;
    padding: 0;
    padding-left:1em;
    
}
.navigation-bar  li {
    list-style-type: none;
}


.note-editor{
    border:solid 1px black;
}

